@if (IsError)
{
    <div class="alert alert-danger" role="alert">
        <span class="oi bi-exclamation-diamond-fill"></span>
        <span class="ms-2">@errorMessage</span>
    </div>
}

@code
{
    [Parameter]
    public bool IsError { get; set; }

    private string errorMessage;

    [Parameter]
    public string Message { get => errorMessage; set => errorMessage = value; }
}