@typeparam TField

<span>@Label</span>
<button class="btn btn-link" @onclick="ToggleSort">
    @if (IsSorted)
    {
        @if (IsAsc)
        {
            <i class="bi bi-caret-down-fill"></i>
        }
        else
        {
            <i class="bi bi-caret-up-fill"></i>
        }
    }
    else
    {
        <i class="bi bi-caret-down"></i>
    }
</button>

@code {
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public TField SortField { get; set; }
    [Parameter] public bool IsSorted { get; set; } = false;
    [Parameter] public bool IsAsc { get; set; } = true;
    [Parameter] public EventCallback OnSort { get; set; }

    private void ToggleSort()
    {
        //OnSort.InvokeAsync((SortField, !IsAsc));
        OnSort.InvokeAsync();
    }
}