
<div class="sidebar" [ngClass]="{'shrink': isExpanded}" (click)="ExpandSiderbar()">
  <div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" [routerLink]="['/']">SampleWebApp</a>
  </div>

  <div>
    <ul class="nav flex-column">
      <li class="nav-group">
        Pages
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/']">
          <i class="oi bi-house" aria-hidden="true"></i><span>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/counter']">
          <i class="oi bi-plus" aria-hidden="true"></i><span>Counter</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/fetch-data']">
          <i class="oi bi-list-ul" aria-hidden="true"></i><span>Fetch data</span>
        </a>
      </li>
      <li class="nav-group">
        Account
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']">
          <i class="oi bi-person" aria-hidden="true"></i><span>Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/settings']">
          <i class="oi bi-gear" aria-hidden="true"></i><span>Settings</span>
        </a>
      </li>
    </ul>
  </div>
</div>
