html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, .btn-link {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.content {
  padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.loading-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -88px;
  margin-top: -24px;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

html, body {
  /*    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  */
  background-color: #e9e9e9;
}

a, .btn-link {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
  position: relative;
  display: flex;
  flex-direction: column;
}

.oi {
  position: relative;
  font-size: 20px;
  vertical-align: 0 !important;
  top: -1px;
}

.oi-large {
  font-size: 32px !important;
}

.oi-small {
  font-size: 14px !important;
}

.top-row {
  height: 3.5rem;
  display: flex;
  align-items: center;
  z-index: 99;
}

.row {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 1rem;
}

.card-group {
  background-color: #f7f7f7;
}

.main {
  flex: 1;
}
.main .top-row {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
}
.main .top-row > a, .main .top-row .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
}
.main .top-row a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  padding-top: 1.1rem;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

.notification-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.notification-container-alert {
  margin: 0 auto;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

/*@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}*/
/*@media (min-width: 768px) {
*/
app {
  flex-direction: row;
}

.main .top-row {
  position: sticky;
  top: 0;
}

.main > div {
  padding-left: 2rem !important;
  padding-right: 1.5rem !important;
}

/*}
*/
ul {
  list-style: none;
}

.new-timer-edit {
  margin: 10px;
}

.page-progress {
  width: 9rem !important;
  margin: 3rem auto !important;
}

/* Login page*/
.login-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  /* background-color: #f5f5f5; */
  /* height:100%; */
  width: 100%;
  align-content: center;
}

.login-title {
  align-self: center;
  padding-bottom: 20px;
}

.login-subtitle {
  align-self: center;
  padding-bottom: 114px;
}

.login-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type=password] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.message-card-container {
  width: 600px;
  margin: 1rem auto !important;
}

@media (max-width: 768px) {
  .message-card-container {
    width: 300px;
  }
}
/* animations */
@keyframes slidein {
  from {
    width: 70px;
  }
  to {
    width: 250px;
  }
}
@keyframes slideout {
  from {
    width: 250px;
  }
  to {
    width: 70px;
  }
}
.sidebar {
  background-image: linear-gradient(180deg, #052767 0%, #212529 70%);
  width: 250px;
  height: 100vh;
  position: sticky;
  top: 0;
  animation-duration: 0.5s;
  animation-name: slidein;
}
.sidebar .top-row {
  background-color: rgba(0, 0, 0, 0.4);
}
.sidebar .navbar-brand {
  font-size: 1.1rem;
}
.sidebar .oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}
.sidebar .nav-group {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #a7a7a7;
  padding: 1rem 0.75rem;
  font-weight: 800;
}
.sidebar .nav-group .shrink {
  display: none;
}
.sidebar .nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.sidebar .nav-item:first-of-type {
  padding-top: 1rem;
}
.sidebar .nav-item:last-of-type {
  padding-bottom: 1rem;
}
.sidebar .nav-item .nav-link {
  color: #d7d7d7;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
}
.sidebar .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.sidebar .nav-item a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}

.shrink {
  animation-duration: 0.5s;
  animation-name: slideout;
  width: 70px;
}
.shrink .nav-group {
  display: none;
}
.shrink .nav-item {
  width: 68px;
  padding: 5px 10px !important;
}
.shrink .nav-link {
  margin-left: 3px;
  padding-left: 0.75rem;
}
.shrink span {
  display: none;
}

.navbar-toggler {
  display: none;
}

@media (max-width: 768px) {
  @keyframes slidein {
    from {
      width: 70px;
    }
    to {
      width: 0px;
    }
  }
  @keyframes slideout {
    from {
      width: 0px;
    }
    to {
      width: 70px;
    }
  }
  .sidebar {
    position: sticky;
    z-index: 9999;
    width: 0px;
  }
  .sidebar * {
    display: none;
  }

  .shrink {
    animation-duration: 0.5s;
    animation-name: slideout;
    width: 70px;
  }
  .shrink * {
    display: block;
  }
  .shrink .nav-group {
    display: none;
  }
  .shrink .nav-item {
    width: 68px;
    padding: 5px 10px !important;
  }
  .shrink .nav-link {
    margin-left: 3px;
    padding-left: 0.75rem;
  }
  .shrink span {
    display: none;
  }
  .shrink .sidebar {
    width: 75px;
  }
}
/* ToolBar.razor section */
.dropdown-item span {
  padding-left: 1rem;
}

/*# sourceMappingURL=app.css.map */
