<div class="sidebar @NavContainerCssClass">
    <div class="top-row pl-4 navbar navbar-dark" @onclick="ExpandSiderbar">
        <a class="navbar-brand" href="">SampleWebApp</a>
    </div>

    <div>
        <ul class="nav flex-column">
            <li class="nav-group">
                Reports
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-group">
                Account
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="account" Match="NavLinkMatch.All">
                    <i class="oi bi-person" aria-hidden="true"></i><span>Profile</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
    </div>

</div>

@inject ToolbarService ToolbarServ;


@code {
    private bool shrinkNavMenu = false;

    private string NavContainerCssClass => shrinkNavMenu ? "shrink" : null;

    protected async override Task OnInitializedAsync()
    {
        ToolbarServ.ShrinkSidebar += OnChange;
    }

    private void OnChange(object value)
    {
        shrinkNavMenu = (bool)value;
        StateHasChanged();
    }
    private void ExpandSiderbar()
    {
        ToolbarServ.SetSidebar(false);
    }

}
