@page "/server/counter"
@rendermode InteractiveServer

@inject IStringLocalizer<Counter> loc;

<PageTitle>Counter on server</PageTitle>

<h1>@loc["Counter (InteractiveServer)"]</h1>

<p role="status">@loc["Current count:"] @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@loc["Click me"]</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
