@page "/"

@*TODO: Localize*@
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<h3>Welcome to DevCoreApp!</h3>

<p>The DevCoreApp project is dedicated to compiling best practices for developing ASP.NET applications. Built using .NET 8 with Blazor's Interactivity Mode set to Auto (supporting both Server and WebAssembly), it extends the standard Visual Studio ASP.NET with Blazor project template. The project introduces enhancements and a structured architecture designed to support the creation of large-scale enterprise applications.</p>
<img width="50%" alt="Visual Studio ASP.NET with Blazor project template" src="img/new-project.png" />
<p>DevCoreApp is an open-source initiative, inviting everyone to use, explore, and contribute. Visit <a href="https://github.com/devInstance/DevCoreApp">DevCoreApp</a>" to access the code or clone the GitHub repository.</p>

<p>Developed by devInstance LLC (<a href="https://devinstance.net">devinstance.net</a>).</p>