<div class="progress page-progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" 
            role="progressbar" 
            style="width: 100%" 
            aria-valuenow="10" 
            aria-valuemin="0" 
            aria-valuemax="100"></div>
</div>
@code {

}
