BEGIN TRANSACTION;
GO

CREATE TABLE [WeatherForecasts] (
    [Id] uniqueidentifier NOT NULL,
    [Date] datetime2 NOT NULL,
    [Temperature] int NOT NULL,
    [Summary] nvarchar(max) NULL,
    [PublicId] nvarchar(max) NOT NULL,
    [CreateDate] datetime2 NOT NULL,
    [UpdateDate] datetime2 NOT NULL,
    [CreatedById] uniqueidentifier NULL,
    [UpdatedById] uniqueidentifier NULL,
    CONSTRAINT [PK_WeatherForecasts] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_WeatherForecasts_UserProfiles_CreatedById] FOREIGN KEY ([CreatedById]) REFERENCES [UserProfiles] ([Id]),
    CONSTRAINT [FK_WeatherForecasts_UserProfiles_UpdatedById] FOREIGN KEY ([UpdatedById]) REFERENCES [UserProfiles] ([Id])
);
GO

IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreateDate', N'CreatedById', N'Date', N'PublicId', N'Summary', N'Temperature', N'UpdateDate', N'UpdatedById') AND [object_id] = OBJECT_ID(N'[WeatherForecasts]'))
    SET IDENTITY_INSERT [WeatherForecasts] ON;
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreateDate', N'CreatedById', N'Date', N'PublicId', N'Summary', N'Temperature', N'UpdateDate', N'UpdatedById') AND [object_id] = OBJECT_ID(N'[WeatherForecasts]'))
    SET IDENTITY_INSERT [WeatherForecasts] OFF;
GO

CREATE INDEX [IX_WeatherForecasts_CreatedById] ON [WeatherForecasts] ([CreatedById]);
GO

CREATE INDEX [IX_WeatherForecasts_UpdatedById] ON [WeatherForecasts] ([UpdatedById]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20230330025947_WeatherForecast', N'7.0.4');
GO

COMMIT;
GO


